%tr
  %td
    %span.date
      = l(tweet.created_at, format: :short)
    by
    %span.author
      = link_to(tweet.user_name, "https://twitter.com/#{tweet.user_screen_name}")
    %br
    = auto_link tweet.text, :html => { :target => '_blank' }
