<!-- <div>
	<h1></h1>
</div>

<div>
<div>
 -->
<a href="/video" class="video-teaser">How to use TweetUpStreet...</a>
<div id="map-canvas"></div>
<div id="twitter">
	<img id= "twitter-logo" src="http://blog.xebialabs.com/wp-content/uploads/2015/04/Twitter-Logo.png" />
	<div id="twitter-feed"></div>
</div>
<%= render partial: "info_box" %>
<%#= render partial: "filter" %>
