.row
  .col-md-6
    #video
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/doCKDKwFQ6I", :width => "560"}
  .col-md-6
    #info-text
      %p.lead All that trash, rubber, useless stuff and leftovers in your neighborhood which no one is taking care of…

      %p Inform your responsible community service and get your voice heard!
      %ul
        %li Make a photo
        %li Tweet photo and your precise location @twitter.com with #tweetupstreet
        %li We put your annoyance on tweetupstreet.com’s MAP
        %li Authorities get a picture of what the situation is like in your neighborhood in real time

