//
// Prefer imports over require
// http://pivotallabs.com/structure-your-sass-files-with-import/
//

//= require_self

// Core
@import "variables";
@import "bootstrap";
@import "icons_social";
@import "auth";
@import "avatar";
@import "cards";
@import "footer";
@import "hacks";
@import "info_box";
@import "filter";
@import "home-page-styling";

// Plugins
@import 'nprogress';
@import 'nprogress-bootstrap';



// Padding to clear fixed nav
body {
  padding-top: 70px;
}

// Make sure alerts are nicely formatted
.alert {
  a {
    white-space: nowrap;
  }
}

// Postion loading spinner at bottom right
#nprogress .spinner {
  bottom: 15px;
  top: auto;
}

.container {
  position: relative;
}

#map-canvas {
  height: 500px;
  width: 75%;
  margin-left: 5px;
  float: left;
}

#twitter {
  float: right;
  width: 20%;
}

#twitter-logo {
  display: inherit;
  margin-left: auto;
  margin-right: auto;
  height: 39px;
}

#twitter-feed {
  height: 419px;
  margin-left: 5px;
  margin-right: 5px;
  border: 4px solid #55acee;
  border-radius: 10px;
  font-size: 12px;

  tr {
    display: none;
  }
  tr:nth-child(-n+4){
    display:block;
}
}

.navbar-brand {
  img {
    margin: -12px 0 0 0;
  }
}


// And finally bootswatch style itself
@import "bootswatch/paper/bootswatch";
