#filter {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  background-color: #fff;
  margin: 15px 8px;

  a {
    padding: 10px;
    color: #fff;
    display: block;

    &.street {
      background-color: red;
    }
    &.dirt {
     background-color: green;
    }
    &.disabled {
      background-color: #888 !important;
    }
  }
}